In [1]:
import torch
from torch.utils.data import Dataset, DataLoader
import pandas as pd

In [16]:
def card_to_num(card):
    raw_rank = card[:-1]
    
    ranks = {
        '2' : 0,
        '3' : 1,
        '4' : 2, 
        '5' : 3,
        '6' : 4, 
        '7' : 5, 
        '8' : 6, 
        '9' : 7, 
        '10': 8, 
        'J' : 9, 
        'Q' : 10, 
        'K' : 11, 
        'A': 12
    }

    return ranks[raw_rank]

def hand_to_list(hand):
    '''Takes hand like KH-AC and outputs list of card numbers'''
    hand_list_1 = hand.split("-")
    hand_list_2 = [card_to_num(card) for card in hand_list_1]
    return hand_list_2

In [29]:
split_or_not_df = pd.read_csv('CSVs/split_or_not.csv')
hit_stand_dd_df = pd.read_csv('CSVs/hit_stand_dd.csv')

In [7]:
split_or_not_df.head()

  player_hand dealer_upcard  result
0       9H-9D            7C       0
1       KC-KH           10C       0
2       4D-4C            3C       0
3       JD-JS            2C       0
4       6C-6H            5D       1

In [8]:
hit_stand_dd_df.head()

  player_hand dealer_hand  can_double       result
0       6C-5S       4H-8C        True  double down
1      10C-8D       JS-KS        True        stand
2       KH-8D       6D-2D        True        stand
3       2S-JS       4D-6C        True        stand
4      10D-8C       KD-5D        True        stand

In [17]:
card_to_num(split_or_not_df['dealer_upcard'][0])
hand_to_list(split_or_not_df['player_hand'][0])

[7, 7]

In [18]:
split_or_not_df['dealer_upcard'] = split_or_not_df['dealer_upcard'].apply(card_to_num)

In [19]:
split_or_not_df['dealer_upcard']

0         5
1         8
2         1
3         0
4         3
         ..
22790    11
22791     4
22792     9
22793     0
22794     5
Name: dealer_upcard, Length: 22795, dtype: int64

In [20]:
split_or_not_df['player_hand'] = split_or_not_df['player_hand'].apply(hand_to_list)

In [23]:
split_or_not_df['player_hand'] = split_or_not_df['player_hand'].apply(lambda hand: hand[0])
split_or_not_df['player_hand']

0         7
1        11
2         2
3         9
4         4
         ..
22790    10
22791     3
22792     4
22793     3
22794     7
Name: player_hand, Length: 22795, dtype: int64

In [24]:
split_or_not_df = split_or_not_df.rename(columns = {'player_hand':'player_upcard'})
split_or_not_df.head()

   player_upcard  dealer_upcard  result
0              7              5       0
1             11              8       0
2              2              1       0
3              9              0       0
4              4              3       1

In [31]:
hit_stand_dd_df['dealer_upcard'] = hit_stand_dd_df['dealer_upcard'].apply(card_to_num)
hit_stand_dd_df['player_hand'] = hit_stand_dd_df['player_hand'].apply(hand_to_list)
hit_stand_dd_df.head()

    player_hand  dealer_upcard  can_double  result
0        [8, 3]              0           1       1
1       [6, 11]              6           1       1
2        [1, 1]              9           1       0
3     [1, 1, 0]              9           0       0
4  [1, 1, 0, 3]              9           0       0

In [30]:
result_mapping = {
    'hit' : 0,
    'stand' : 1,
    'double down' : 2
}

hit_stand_dd_df['result'] = hit_stand_dd_df['result'].map(result_mapping)
hit_stand_dd_df.head()

   player_hand dealer_upcard  can_double  result
0       10S-5S            2H           1       1
1        8C-KC            8D           1       1
2        3H-3D            JH           1       0
3     3H-3D-2S            JH           0       0
4  3H-3D-2S-5S            JH           0       0